page-set-time-appointment {
    .select{
        font-size: 1.6rem;
        margin-left: 5%;
    }
    .choosen{
        font-size: 1.4rem;
        margin-left: 5%;
    }
    .date{
        font-size: 2.0rem;
        margin-left: 5%;
    }
    .name{
        margin-left: 5%;
    }
  
}
