<ion-header>
  
    <ion-navbar>
      <ion-title>Saloon Detail</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
    <ion-segment color="primary" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="first">
        ABOUT
      </ion-segment-button>
  
      <ion-segment-button value="second">
        TREATMENTS
      </ion-segment-button>
  
      <ion-segment-button value="third">
        REVIEWS
      </ion-segment-button>
    </ion-segment>
    <ion-slides style="height:unset;" #mySlider (ionSlideDidChange)="onSlideChanged($event)">
      <ion-slide>
          <ion-item style="margin-bottom:-3%">
              <h1>
                <b>{{storeName}}</b>
              </h1>
              <span class="discount" style="color:#56C8C8">Discount: </span ><span class="discount" style="color:black"><b>30%</b></span >
              <br>
              <button class="button" ion-button color="rate">{{starRate}}
                <ion-icon name="star-half" ios="ios-star-half" md="md-star-half" class="rate"></ion-icon>
              </button>
              <span class="review"><b>{{reviewBil}} Reviews</b></span>
            </ion-item>
          <ion-slides pager="true" parallax="true">
              <ion-slide *ngFor="let banner of agentBanner">
                  <img [src]="HandleImage(banner.bannerImage)" /> 
              </ion-slide>
            </ion-slides>
        <!-- <ion-slides pager="true" parallax="true">
          <ion-slide>
            <img src="assets/1.jpg">
          </ion-slide>
          <ion-slide>
            <img src="assets/2.jpg">
          </ion-slide>
          <ion-slide>
            <img src="assets/3.jpg">
          </ion-slide>
        </ion-slides> -->
          <p class="description">Trend Setters is a full-service beauty salon dedicated to consistently providing high customer satisfaction by rendering
            excellent service, quality products, and furnishing an enjoyable atmosphere at an acceptable price/value relationship.
          </p>
          <hr>  
          <ion-item style="padding-right:0%;padding-left:0%;margin-top:-2%">
              <h3 class="aboutTitle" style="margin-top:0.5%">Operating Hour</h3> 
              <ion-icon name="time" ios="ios-time" md="md-time" class="time"></ion-icon>
              <span class="aboutContent" style="padding-left:3%;top: -4px;position: relative;">{{startBisnes}} - {{endBisnes}}</span>
            </ion-item>
            <ion-item style="padding-right:0%;padding-left:0%;">
              <h3 class="aboutTitle" style="margin-top:0.5%">Price Level</h3> 
              <div class="one" *ngIf="dollarCount=='1'">
                <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>  
              </div>
              <div class="two" *ngIf="dollarCount=='2'">
                <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>
                <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>              
              </div>
              <div class="three" *ngIf="dollarCount=='3'">
                  <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>
                  <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>  
                  <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>              
              </div>
              <div class="four" *ngIf="dollarCount=='4'">
                  <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>
                  <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>
                  <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>  
                  <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>  
              </div>
              <div class="five" *ngIf="dollarCount=='5'">
                  <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>
                  <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>
                  <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>  
                  <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>
                  <ion-icon small name="logo-usd" ios="logo-usd" md="logo-usd" class="usd"></ion-icon>  
              </div>
            </ion-item>
            <ion-item style="padding-right:0%;padding-left:0%;margin-bottom:2%">
              <h3 class="aboutTitle" style="margin-top:0.5%">Down Payment</h3> 
              <ion-icon name="card" ios="ios-card" md="md-card" class="time"></ion-icon>
              <span class="aboutContent" style="padding-left:3%;top: -6px;position: relative;">{{downpayment}}</span>
            </ion-item>
            
        <ngui-map center="[3.135111,101.684282]" mapTypeControl="false" streetViewControl="false" fullscreenControl="false" style="height:50vh">
          <marker [position]="marker"></marker>
        </ngui-map>
        <span style="font-size:70%;">
          <ion-icon ios="ios-pin-outline" md="md-pin" color="primary"></ion-icon>&nbsp;{{address}}</span>
      </ion-slide>
  
      <ion-slide>
        <br>
        <span style="font-size:80%">Please choose your treatment:</span>
        <br>
        <br>
        <hr>
        <!-- <span style="font-size:80%"><b>Hair</b></span> -->
          <ion-item *ngFor="let treatment of treatmentList;let i = index" style="white-space: normal;" text-wrap>
            <ion-label>
              
            <b> {{treatment.treatmentName}} </b><br>
            <ion-row>
              <ion-col>
                  <a><b>Rp&nbsp;{{treatment.price}} k</b></a>
              </ion-col>
              <ion-col>
                  <a class="hours"><b>{{treatment.treatmentDuration}} min</b></a>
                </ion-col>
            </ion-row>
            
            
            </ion-label>
            <ion-checkbox [(ngModel)]="checkedItems[i]" (ionChange)="choosenTreatment(treatment.treatmentID,checkedItems[i],treatment.agentDiscountID,treatment.agentBranchID)" color="primary"></ion-checkbox>
          </ion-item>
        <button (click)="bookAppointment()" [disabled]='disabledProceed' ion-button color="primary" type="submit"  round full margin-top>Make Appointment</button>
      </ion-slide>
  
      <ion-slide>
        <br><br>
        <span style="font-size: 90%">Service Review</span>
        <hr>
        <br>
        <ion-item *ngFor="let review of reviewDetail;let i = index" style="white-space: normal;" text-wrap>
          <ion-label>
            <a><b> {{review.fullName}} </b></a><br>
            {{review.review}}
          </ion-label>
        </ion-item>
      </ion-slide>
    </ion-slides>
  
  </ion-content>

  <!-- margin:-3% 0% 0% 0%; -->