page-sign-in {
    ::-webkit-scrollbar{
        display:none;
    }

    .a{
        padding-left: 5%;
        font-size: 120%
    }
    p.msg{
        margin-left: 5%;
    }
    span.msg{
        margin-left: 5%;
    }

}
