<ion-header>
  <ion-navbar hideBackButton >
    <ion-title>Providers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment color="primary" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="first">
      LIST
    </ion-segment-button>

    <ion-segment-button value="second">
      MAP
    </ion-segment-button>
  </ion-segment>

  <ion-slides style="height:unset;" #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide>
        <form [formGroup]="filter"  #searchBy="ngForm">
            <ion-item>
              <ion-label stacked>Search By:</ion-label>
              <ion-select interface="popover" (ionChange)="goFilter(searchBy.value)" formControlName="searchBy" type="number">
                <ion-option value="97">Saloon Name</ion-option>
                <ion-option value="100">Type Beauty Provider</ion-option>
              </ion-select>
            </ion-item>
          </form>
      <ion-row>
        <ion-col col-10 class="search">
          <ion-searchbar  [(ngModel)]="seachInput" (ionCancel)="searchCancel($event)" [formControl]="terms" [showCancelButton]="true"
            color="primary" placeholder="Search">
          </ion-searchbar>
          <!-- //  <ion-list  *ngFor="let item of items ">{{item}}</ion-list> -->
        </ion-col>
        <ion-col col-1 class="butang">
          <ion-buttons end class="filter" (click)="filterType()">
            <button class="option" ion-button outline color="primary" icon-only>
              <ion-icon ios="ios-options" md="md-options"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>


      <div>
        <ion-item no-padding *ngFor="let provider of providers" (click)="goTreatment(provider.agentBranchID,provider.treatmentProvidedID)">
          <ion-row>
            <ion-col>
              <ion-thumbnail item-left>
                <!-- <img src="data:image/jpeg;base64,{{provider.storeImage}}"  /> -->
                <img [src]="HandleImage(provider.storeImage)" class="defaultStore" /> 
                <!-- <ion-img [src]="HandleImage(provider.storeImage)" class="defaultStore"></ion-img> -->
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <h2 class="name" text-wrap>{{provider.storeName}}</h2>
              <p class="name2" text-wrap>
                <ion-icon ios="ios-pin-outline" md="md-pin" color="primary"></ion-icon>&nbsp;{{provider.address}}<br><br>
                <a>{{provider.typeOfBeautyProvider}}</a>
              </p>
              <br>
            </ion-col>
            <ion-col><br>
              <div class="one" *ngIf="provider.priceRangeSign=='1'">
                <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>  
              </div>
              <div class="two" *ngIf="provider.priceRangeSign=='2'">
                <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>
                <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>              
              </div>
              <div class="three" *ngIf="provider.priceRangeSign=='3'">
                  <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>
                  <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>  
                  <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>              
              </div>
              <div class="four" *ngIf="provider.priceRangeSign=='4'">
                  <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>
                  <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>
                  <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>  
                  <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>  
              </div>
              <div class="five" *ngIf="provider.priceRangeSign=='5'">
                  <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>
                  <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>
                  <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>  
                  <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>
                  <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd" class="usd" color="primary"></ion-icon>  
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </div>

       <!-- <div *ngIf="!noProvider">
       <p> no provider </p>
      </div> -->

    </ion-slide>


    <ion-slide>
      <ngui-map center="[3.135111,101.684282]" mapTypeControl="false" streetViewControl="false" fullscreenControl="false" style="height:90vh">
        <marker [position]="marker"></marker>
      </ngui-map>
    </ion-slide>

  </ion-slides>

</ion-content>
