<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>resetPassword</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      Fill in the blank
      <form [formGroup]="resetPassword" (ngSubmit)="reset(resetPasswordForm.value)" #resetPasswordForm="ngForm" class="registerForm"
        align="center">
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input text-lowercase formControlName="email" type="email"></ion-input>
        </ion-item>
        <div *ngIf="resetPassword.get('email').hasError('required') && resetPassword.get('email').touched">
          <p >Enter a valid email</p>
        </div>
        <div *ngIf="resetPassword.get('email').hasError('minLength') && resetPassword.get('email').touched">
          <p>Email format should be <i>joe@abc.com</i></p>
        </div>
        <ion-item>
          <ion-label floating>New Password</ion-label>
          <ion-input id="password" name="password" type="password" maxlength="16" formControlName="password"> </ion-input>
        </ion-item>
        <div *ngIf="resetPassword.get('password').hasError('required') && resetPassword.get('password').touched">
          <p>Enter password</p>
        </div>
        <div *ngIf="resetPassword.get('password').hasError('pattern') && resetPassword.get('password').touched">
          <p>Use at least 8 characters and must contain  <br> combination of upper case, lower case and number</p>
        </div>
          <ion-item>
            <ion-label floating>Confirm New Password</ion-label>
            <ion-input id="confirmPassword" name="confirmPassword" type="password" maxlength="16" formControlName="confirmPassword">
            </ion-input>
          </ion-item>
          <div *ngIf="resetPassword.get('confirmPassword').hasError('required') && resetPassword.get('confirmPassword').touched">
            <p>Re-enter password</p>
          </div>
          <div *ngIf="resetPassword.get('confirmPassword').hasError('MatchPassword') && resetPassword.get('confirmPassword').touched">
            <p>Passwords not match</p>
          </div>
          <ion-item>
            <ion-label floating>Enter Code Here</ion-label>
            <ion-input  name="verificationCode" formControlName="verificationCode"></ion-input>
          </ion-item>
        <div padding>
          <button class="save" full ion-button type="submit" [disabled]="resetPassword.invalid">Submit</button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
